body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    align-items: center;
}
.cont{
    width: 300px;
    height: 300px;
    /* border: 3px solid black; */
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    user-select: none;
    grid-template-rows: repeat(3 , 1fr);
    grid-gap: 2px;
}
.cont .item{
    /* outline: black 1px solid; */
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.result{
    width:300px;
    height: 250px;
    border: red 3px solid;
}
@media(max-width: 350px){
    .cont{
        width: 200px;
        height: 200px;
        grid-gap: 2px;
    }
    .result{
        width:200px;
        height: 150px;
        border: red 3px solid;
    }
}
*{
    padding:0px !important;
    margin:0px !important;
}